@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, whitesmoke);
    border-bottom: 2px solid #ec4668;
    position: sticky;
    top: 0;
}

.header__content {
    display: flex;
    flex-basis: 70%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../public/assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;

}

.footer {
    height: 60px;
    margin-top: auto;
    display: flex;
    background-image: linear-gradient(rgba(201, 194, 194, 0.568), white);
    border-top: 2px solid #ec4668;
    align-items: center;
    justify-content: space-around;
}

.header nav {
    flex: 2
}

.logo {
    flex: 1
}

.links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
}

.links li {
    margin-right: 30px;
}

.links li:last-child {
    margin-right: 0;
}

.links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ec4668;
    font-size: 20px;
}

.title {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    font-size: 24px;
    color: #ec4668;
    flex-direction: column;
    align-items: flex-end;
}

.title h4 {
    margin: 0 0 20px 0;
    color: #dd0c36;
}

.title h1 {
    margin-bottom: 0;
}

.logo {
    height: 100%;
}

.logo img {
    max-height: 100%;
}

.about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin-bottom: 50px;
}

.photo {
    height: 400px;
    margin: 0;
    border: 6px solid rgba(242, 123, 147, 0.6);
    border-radius: 10px;
}

.photo img {
    min-height: 100px;
    max-height: 100%;
}

.info__block {
    min-width: 500px;
    width: 40%;
    background: rgba(242, 123, 147, 0.6);
    border-radius: 10px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.info__block h1 {
    font-size: 30px;
    margin: 15px 0 0 0;
    flex: 1;
}

.info__block:target {
    animation: selecting 0.5s;
}

@keyframes selecting {
    0% {
        background: rgba(242, 123, 147, 0.6);
    }

    50% {
        background: rgba(241, 67, 102, 0.6);
    }

    100% {
        background: rgba(242, 123, 147, 0.6);
    }
}

.info__block h4 {
    flex: 5;
    margin: 0 5px 10px 5px;
    font-size: 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 50px;
}

.info__block table,
.info__block ul {
    flex: 5;
    width: 90%;
    margin-bottom: 30px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.info__block td {
    padding: 10px;
}

.footer .copy {
    font-size: 23px;
    color: #ec4668;
}

.footer .links a {
    color: rgb(48, 47, 47);
}

.footer .links p {
    font-size: 20px;
}